.demo:active {
    background-color: #3D4490;
}

.bg-green {
    background-color: #42D29D;
}



.button-common {
    border-radius: 8px;
    height: 32px !important;
}

.fs-14 {
    font-size: 14px;
}