* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    border: 1px solid black;
    margin: 10px;
}
.header {
   display: inline-block;
   padding-top: 10px;
   width: 100%;
}

.header .btn{
    display: flex;
    float: right;
    list-style-type: none;
    margin-right: 10px;
}
.header .btn1{
    background-color: darkgreen;
    margin-left: 10px;
    color: #fff;
    padding: 0.3rem;
}

.header .logo {
    height: 54px;
    background-color: darkgreen;
    margin-left: 10px;
    color: #fff;
    padding: 0.75rem;
}
.link {
    text-decoration: none;
    padding-top: 30px;
    margin-right: 10px;
    color: blue;
}

.tbl {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.slider {
    display: flex;
    height : 50px;
    background-color: darkgreen;
}

.slider .nav {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.slider .nav a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}

.slider span {
    color: #fff;
    padding-left: 10px;
}

.content {
    width: 66.66%;
}

.content .line{
    border-bottom: 1px solid black;
    color: blue;
    padding-top: 20px;
    margin-left: 10px;
}

.product_image img{
    width: 50%;
    height: 50%;
    
}